@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    /* Background color */
    --bg-danger: #f63440;
    --bg-white: #ffffff;
    --bg-light-white: #f5f5f5;
    /* Text color */
    --primary-font: "Poppins", sans-serif;
    --text-white: #fff;
    --text-black: #121212;
    --text-danger: #f63440;
    --text-gray: #aaa;
    --text-dark-gray: #777;
}


body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

ul li:hover{
    cursor: pointer;
}

/* Custom css */

a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.btn-danger {
    background: var(--bg-danger);
    border-color: var(--bg-danger);
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-danger:hover {
    color: var(--text-danger);
    background: transparent;
}


/* Navigation css */

#header .fixed-top {
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}

#header .navbar .navbar-brand img {
    height: 40px;
    min-width: 50px;
}

#header .navbar .navbar-brand span {
    color: var(--text-danger);
    font-weight: 700;
}

#header .navbar .nav-item .nav-link {
    color: var(--text-white);
    padding: 0.5rem 1rem;
    text-align: center;
}

#header .navbar .nav-item .nav-link:hover,
#header .navbar .nav-item .nav-link.active {
    color: var(--text-danger);
}

#header .navbar-toggler-icon {
    color: var(--text-white);
    height: unset;
    width: unset;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}


/* Home css */

.home .home-banner-1,
.home .home-banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}

.home .home-banner-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url("https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2021/12/20/Gateway_Quote_A3_12-21.jpg");
}

.home .home-banner-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.719)), url("http://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2021/12/20/Gateway_Quote_A4_12-21.jpg");
}

.home .home-banner .home-banner-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: var(--text-white);
}

.home .home-banner-2 .home-banner-text {
    position: absolute;
    right: 0%;
    text-align: right;
}

.home .home-banner .home-banner-text h1 {
    font-size: 4rem;
}

.home .home-banner .home-banner-text h2 span {
    color: var(--text-danger);
    font-size: 2rem;
}

.home .carousel-indicators [data-bs-target] {
    background-color: var(--bg-danger);
    width: 2.5rem;
    height: 0.313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    background: transparent;
}

.home .slider-icon {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-white);
}


/* Offers css */

.offers {
    margin-top: 8.75rem;
}

.offers .offer-box .offer-image::before {
    position: absolute;
    content: "";
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.offers .offer-box .offer-image img {
    transform: scale(1.02);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.offers .offer-box:hover .offer-image::before {
    animation: effect_shine 1s;
}

@keyframes effect_shine {
    100% {
        left: 150%;
    }
}

.offers .offer-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.offers .offer-box .offer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all 250ms ease-out;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.offers .offer-box .offer-info .heading-bigger {
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
    color: var(--text-white);
}

.offers .offer-box .offer-info .offer-title-1 {
    color: var(--text-white);
    font-size: 1.125;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.offers .offer-box .offer-info .btn-outline-danger {
    color: var(--text-white);
    border-color: var(--bg-white);
    transition: all 0.3s ease-in-out;
}

.offers .offer-box .offer-info .btn-outline-danger:hover {
    border-color: var(--bg-danger);
    background-color: var(--bg-danger);
}


/* Products css */

.products {
    padding-top: 8.75rem;
}

.headline h2::before {
    content: '';
    width: 30%;
    height: 0.225rem;
    background-color: var(--bg-danger);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.26rem;
}

.products a {
    text-decoration: none;
    color: var(--text-black);
}

.product-list {
    margin-top: 4.75rem;
}

.product-list .product-image .sale {
    background: var(--bg-danger);
    border-radius: 0.313rem;
    color: var(--text-white);
    font-size: 0.813rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    position: absolute;
    left: 0.81rem;
    top: .8rem;
    z-index: 99;
    padding: 0.125rem 0.813rem;
}

.product-list .product-name h3 {
    font-size: 1.125rem;
    color: var(--text-black);
    transition: all 0.3s ease 0s;
    font-size: 2rem;
}

.product-list .product-name h3:hover {
    color: var(--text-danger);
    cursor: pointer;
}

.product-list .product-name .amount {
    font-weight: 500;
    color: var(--text-danger);
}

.product-list .product-name .amount del {
    color: var(--text-gray);
}

.product-list .product-name .ti-star {
    color: var(--text-gray);
}

.product-list .product-name .active {
    color: var(--text-danger);
}

.product-list .product-name .add-to-cart {
    background: var(--bg-danger);
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.34s ease 0s;
    padding: 0.225rem 0.815rem;
    border-radius: 0.3rem;
    color: var(--bg-white);
}

.product-list .product-name .add-to-cart:hover {
    background: var(--text-dark-gray);
    color: var(--text-white);
}

.products .up_to_off {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
}

.products .up_to_off img {
    transition: 0.5s;
}

.products .up_to_off:hover img {
    transform: scale(1.1);
}

.products .up_to_content h2 {
    color: var(--text-white);
    font-size: 3.625rem;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.login_content {
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }
  
  .payment-images{
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
  }
  
  .payment-images img{
      width: 100px;
      height: 100px;
  }
  
  
  .discountShow{
    left: 10px !important;
    top: 10px !important;
    background: beige;
    color: #000;
  }
  
  .contact{
      min-height: 80vh;
      
  }